.back_image {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 100%;
    background-image: url("images/space.jpg");
			
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}		
#page-wrap {
    position: relative;
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 50px black;
}
/* polaroid images */
div.polaroid {
  width: 30%;
  height: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
div.container {
  padding: 2px;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 120%;
}
div.polaroid img {
	position: relative;
	width: 100%;
    opacity: 0.5;
	padding: 0px 0px 0px 0px;
	right: 0px;
	margin: 0px 0px;
    filter:alpha(opacity=50);
}
div.polaroid img:hover {
    opacity: 1.0;
    filter:alpha(opacity=100);
}
/* setup css title text */
.title_text {
    font-family: Gill Sans, Verdana; /* setup fonts family */
    font-size: 22px; /* setup font size */
    line-height: 10px; /* setup distance between two text lines */
    letter-spacing: 2px; /* setup space between letters in text */
    font-weight: bold; /* setup font weight */
    margin-left: 50px; /* setup left margin */
}
.title_sub_text {
    font-family: Gill Sans, Verdana; /* setup fonts family */
    font-size: 18px; /* setup font size */
    line-height: 10px; /* setup distance between two text lines */
    letter-spacing: 2px; /* setup space between letters in text */
    margin-left: 50px; /* setup left margin */
}
.contents_text {
    font-family: "Lucida Grande", Tahoma; /* setup fonts family */
    font-size: 18px; /* setup font size */
    line-height: 30px; /* setup distance between two text lines */
    letter-spacing: 1px; /* setup space between letters in text */
    font-weight: lighter; /* setup font weight */
    color: #666666; /* setup font color */
    margin-top: 20px; /* setup space from previous text */
    margin-left: 50px; /* setup left margin */
	margin-right: 50px; /* setup right margin */
}
img {
    position: relative; /* The element is positioned relative to its normal position */
    width: 40%; /* setup width of the image */
    float: right; /* setup position to the right */
    padding: 10px 10px 10px 40px; /* setup space betwen image and text in order: top, right, bottom, left */
    right: 20px; /* setup right margin */
    margin: 1px 20px;
}
img.small {
    position: relative; /* The element is positioned relative to its normal position */
    width: 10%; /* setup width of the image */
    float: right; /* setup position to the right */
    padding: 10px 10px 10px 40px; /* setup space betwen image and text in order: top, right, bottom, left */
    right: 20px; /* setup right margin */
    margin: 1px 20px;
}
/* rewrite above img settings for another use */
img.large{
	position: relative; /* The element is positioned relative to its normal position */
    width: 100%; /* setup width of the image */
	float: none; /* setup position to the right */
    padding: 0px 0px 0px 0px; /* setup space betwen image and text in order: top, right, bottom, left */
	right: 0px; /* setup right margin */
	margin: 0px 0px;
}
/* setup margin for numbering equations */
.number {
    margin-right: 50px; /* setup right margin */
}
/* setup navigation button */
th {
	align-self: center;
}
.button {
	background-color: #eee; 
  border: 1px solid #008CBA; /* button border color */
  color: black; /* text color */
  padding: 10px 10px; /* space around text */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	border-radius: 5px;
	margin-bottom: 10px;
	border-bottom-width: 2px;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}
/*setup image link wisual options */
a:link {
    color: black;
	font-weight: bold; /* setup font weight */
    text-decoration: none;
}
a:visited {
    color: black;
	font-weight: bold; /* setup font weight */
    text-decoration: none;
}
i {
	font-family: "Noto Sans", sans-serif; /* setup fonts family */
	color: black; /* setup font color */
}

/* setup side navigation button */
/* setup navigation label */
.label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}
/* setup float button */
.float_home{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:20px;
	background-color:white;
	color:black;
	border-radius:10px;
	text-align:center;
	box-shadow: 0 0 50px black;
}
.float_top{
	position:fixed;
	width:50px;
	height:50px;
	bottom:160px;
	right:20px;
	background-color:white;
	color:black;
	border-radius:10px;
	text-align:center;
	box-shadow: 0 0 50px black;
}
.float_main{
	position:fixed;
	width:50px;
	height:50px;
	bottom:100px;
	right:20px;
	background-color:white;
	color:black;
	border-radius:10px;
	text-align:center;
	box-shadow: 0 0 50px black;
}

.my-float{
	font-size:30px;
	margin-top:10px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}
